/* GENERAL STYLING */
.verticalSpacing {
  height: 12vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.title {
  font-size: 4rem;
  color: var(--secondary-color);
  margin-bottom: 10rem;
  font-weight: bolder;
  letter-spacing: 0.2em;
}

.button {
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  width: 150px;
  height: 50px;
  font-size: 25px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-color);
}

.paragraph {
  text-align: justify;
  width: 350px;
  line-height: 180%;
  color: var(--secondary-color);
  margin-top: 5rem;
}

.footer {
  text-align: center;
  margin-top: 50px;
  line-height: 180%;
  margin-bottom: 0;
  color: var(--secondary-color);
}


/* MEDIA QUERIES */

@media (max-width: 480px) {
 .container {
    padding: 4.5rem;
    height: 90vh;
 }

 .verticalSpacing{
  display: none;
 }

 .buttonContainer {
    flex-direction: row;
    max-width: 100%;
 }

 .title {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
 }

 .button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0.25rem 0.5rem;
 }

 .paragraph {
    width: 100%;
    margin-top: 2.5rem;
 }

 .footer {
    margin-top: 25px;
 }
}