.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  font-size: 25px;
  width: 250px;
  color: #344966;
}

[data-theme="dark"] .load {
  color: white;
}

.container {
  padding: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  height: 100dvh; /* Full viewport height */
  text-align: center;
  border-radius: 10px; /* Add a border radius for a softer look */
}

.header {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
}

.headerTitle {
  font-size: 2rem; /* Match the font size of .title in login.module.css */
  color: #344966; /* Match the color of .title in login.module.css */
  margin-bottom: 6rem; /* Match the margin-bottom of .title in login.module.css */
  font-weight: bolder; /* Match the font-weight of .title in login.module.css */
  letter-spacing: 0.2em; /* Match the letter-spacing of .title in login.module.css */
  text-align: left;
  margin-top: 100px;
}

[data-theme="dark"] .headerTitle {
  color: white;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 40px;
  margin-left: 50px;
  background-color: #344966;
  color: #eff8e2;
  text-align: center;
  border:none;
  border-radius: 50%; /* This makes the button round */
}

.button:hover {
  background-color: #0d1821;
}

.buttonEdit {
  width: 80px;
  height: 40px;
  font-size: 25px;
  margin-left: 50px;
  background-color: #344966;
  color: #eff8e2;
  text-align: center;
  border:2px solid #344966;
  border-radius: 15px; /* This makes the button round */
}

.buttonEdit:hover {
  background-color: #0d1821;
}


.submitButton {
  width: 100px; /* Match the width of .submitButton in login.module.css */
  padding: 10px; /* Match the padding of .submitButton in login.module.css */
  background-color: #344966; /* Match the background color of .submitButton in login.module.css */
  color: #eff8e2; /* Match the text color of .submitButton in login.module.css */
  border: none; /* Match the border of .submitButton in login.module.css */
  border-radius: 10px; /* Match the border-radius of .submitButton in login.module.css */
  margin-left: 20px;
}

.submitButton:hover {
  background-color: #0d1821;
}

.submitButtonContainer {
  margin-left: 50px;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.PDFsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.outerPDFs{
  width: 1500px;
  display: flex;
  justify-content: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.headerSmartphone{
  display: none;
}

.headerTitleSmartphone{
  display: none;
}

/* Media query for smartphones */
@media (max-width: 767px) {
.container{
  margin-top: 20dvh;
  padding-top:80px;
  margin-bottom: 30dvh;
  z-index: 1000 !important;
}

  .header {
    display: none;
  }

  .headerSmartphone{
    top:0;
    display: block;
    background-color: #0d1821;
    z-index: 1200 !important;
    position: fixed;
    width: 100%;
  }

  .headerTitleSmartphone {
    display: block;
    z-index: 1200 !important;
    font-size: 1.5rem; /* Smaller font-size */
    margin-bottom: 3rem; /* Smaller margin-bottom */
    margin-top: 50px; /* Smaller margin-top */
    text-align: center;
  }
  .button {
    width: 40px; /* Smaller width */
    height: 40px; /* Smaller height */
    font-size: 20px; /* Smaller font-size */
    margin-left: 25px; /* Smaller margin-left */
    border-radius: 50%;
    margin-top: 0; /* Adjusted margin-top */
    padding-top: 0; /* Adjusted padding-top */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }

  .submitButton {
    width: 80px; /* Smaller width */
    padding: 5px; /* Smaller padding */
  }

  .submitButtonContainer {
    margin-left: 25px; /* Smaller margin-left */
  }

  .PDFsContainer {
    flex-wrap: wrap; /* Allow items to wrap if needed */
    z-index: 1000 !important;
    }

  .outerPDFs{
    width: 300px;
    z-index: 1000 !important;
  }
}

@media (min-width:   481px) and (max-width:   900px) {

    .outerPDFs{
      width: 600px;
    }
}

@media (min-width:   901px) and (max-width:   1240px) {

    .outerPDFs{
      width: 900px;
    }

}

[data-theme="dark"] .button,
.submitButton {
  border: 2px solid #344966;
}

/* ... rest of your CSS ... */
