.offline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.offlineText{
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 180%;
}

.offlineImg{
    object-fit: cover;
}