.icons {
  display: none;
}

.listIcon{
  list-style: none;
}

.icoItem{
  margin-left:20px;
  margin-right: 20px;
}

/* Media query for smartphones */
@media (max-width: 767px) {
  .navbar {
    top: auto !important;
    position: fixed !important;
    bottom: 0;
  }

  .navbarContainer {
    display: none !important ;
  }

  .logo {
    display: none;
  }

  .navbarItem {
    display: none;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;

  }
  .navbarMenu {
    margin-left: 0 !important;
  }
}

[data-theme="dark"] .navbar {
  color: white;
  background-color: #2A3A51;
}

/* Styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #344966; /* Background color from profile.module.css */
  color: #eff8e2; /* Text color from profile.module.css */
  padding: 10px 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120dvh;
  height:60px;
  margin: 0 auto;
}

.logo {
  margin: 0;
  padding: 0 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: larger;
}

@media (min-width:   481px) and (max-width:   1240px) 
{
  .logo{
    padding: 0 160px;
  }
}

.navbarMenu {
  list-style: none;
  display: flex;
  margin-left: auto; /* Align menu to the right */
}

.active {
  background-color: #0d1821; /* Darken the background color on hover */
  color: white;
}

.navbarItem {
  margin:0;
  padding-left:15px;
  padding-right: 15px;
  
}

[data-theme="dark"] .navbarLink {
  color: white;
}

.navbarLink {
  color: #eff8e2; /* Text color from profile.module.css */
  text-decoration: none;
  padding: 100%;
}

.navbarItem:hover {
  background-color: #0d1821; /* Darken the background color on hover */
  color: white;
}
