.offline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default margin */
}

.offlineText{
    text-align: center;
    letter-spacing: 0.5rem;
    line-height: 180%;
}

.offlineImg{
    object-fit: cover;
}