.document {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  overflow: hidden;
  margin: 25px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100%; /* Adjust this if needed */
}

.spinner {
  margin-top:40% ;
  border:  4px solid rgba(0,  0,  0,  0.1);
  width:  36px;
  height:  36px;
  border-radius:  50%;
  border-left-color: #000;
  animation: spin  1s linear infinite;
}

@keyframes spin {
   0% {
    transform: rotate(0deg);
  }
   100% {
    transform: rotate(360deg);
  }
}

.page {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.documentWrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
}

.deleteIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.cross {
  height: 70px;
  width: 70px;
}

.documentWrapper:hover .deleteIcon {
  display: block;
}

/* Media query for smartphones */
@media (max-width:   767px) {
  .document {
    width:   120px; /* Even smaller width */
    height:   120px; /* Even smaller height */
    border-radius:   30px; /* Smaller border-radius */
    margin:   8px; /* Smaller margin */
  }

  .spinnerContainer {
    height:   60%; /* Adjust this if needed */
  }

  .spinner {
    width:   20px; /* Even smaller width */
    height:   20px; /* Even smaller height */
  }

  .page {
    width:   120px; /* Even smaller width */
    height:   120px; /* Even smaller height */
  }

  .documentWrapper {
    width:   150px; /* Even smaller width */
    height:   150px; /* Even smaller height */
  }

  .deleteIcon {
    top:   1px; /* Even smaller top position */
    right:   1px; /* Even smaller right position */
  }

  .cross {
    height:   30px; /* Even smaller height */
    width:   30px; /* Even smaller width */
  }
}

