/* GENERAL GLOBAL STYLING */

body {
  background-color: var(--primary-color);
  height: 100dvh;
  margin: 0;
}

button {
  outline: none;
}

* {
  transition: background-color 0.1s ease-in-out;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0;
}

a {
  color: inherit;
}


