/* GENERAL STYLING */

.button {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--ternary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.button:hover {
    background-color: var(--primary-color);
}

.paragraph {
    text-align: center;
    width: 350px;
    line-height: 180%;
    color: var(--secondary-color);
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
}


/*------------------------------------------------*/

/* MEDIA QUERIES */

@media (max-width: 767px) {
    .button {
        margin: 10px;
    }
    .container {
        flex-direction: column;
        margin-bottom: 20px;
    }
}