.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    font-size: 25px;
    width: 250px;
    color: #344966;
  }

  [data-theme='dark'] .load{
    color:white;
  }


.container {
    display: flex !important;
    flex-direction: column;
    padding:  0;
    margin-top:4dvh;
    align-items: center;
    height:  100dvh;
    text-align: center;
    border-radius:  10px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    margin: 3rem;

}
.headerContainerRow{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}


.header {
    font-size:  2rem;
    color: #344966;
    margin-bottom:  0rem;
    font-weight: bolder;
    letter-spacing:  0.2em;
    text-align: left;
    line-height: 180%;
    margin-left: 0;
    margin-top: 80px;
}

[data-theme='dark'] .header {
    color: white;
}

.formPopup{
    margin-right:80px;
    display: flex;
    flex-direction: column;
    margin-top:0;

}

.form{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.formContainer{
    display: flex;
    flex-direction: row; 
    margin-right: 50px;  
    height:90px;
}

.propic {
    width:  200px;
    height:  200px;
    object-fit: cover;
    border-radius:  50%;
    margin-left: 150px;
    margin-top: 51px;
    margin-bottom:  15px;
}


.inputField {
    width:  300px;
    padding:  10px;
    margin-bottom:  25px;
    margin-top:15px;
    border:  1px solid #344966;
    border-radius:  4px;
    background-color: #eff8e2;
    color: #344966;
}

[data-theme='dark'] .inputField{
    background-color: rgba(70, 90, 126, 0.4) !important;
    color: fieldtext !important;
}


.submitButton {
    width:  200px;
    padding:  10px;
    background-color: #344966;
    color: #eff8e2;
    border: none;
    border-radius:  10px;
    cursor: pointer;
    margin-bottom:10px;
    transition: background-color  0.3s ease;
}


.submitButton:hover {
    background-color: #0d1821;
}


.submitButtonUpload {
    width:  200px;
    padding:  10px;
    background-color: #344966;
    color: #eff8e2;
    border: none;
    border-radius:  10px;
    cursor: pointer;
    transition: background-color  0.3s ease;
}


.submitButtonUpload:hover {
    background-color: #0d1821;
}

.submitButtonContainer {
    margin-top:15px;
    display: flex;
    margin-bottom:10px;
    flex-direction: column;
    animation: slideInFromTop  0.5s ease-out forwards;
}

@keyframes slideInFromTop {
    0% {
     transform: translateY(-100%);
     opacity:  0;
   }
 
   50%{
     opacity: 0;
   }
   
    100% {
     transform: translateY(0);
     opacity:  1;
   }
 }


.SignOutButton {
    width:  200px;
    padding:  10px;
    background-color: #344966;
    color: #eff8e2;
    border: none;
    border-radius:  10px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: background-color  0.3s ease;
}

.button{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}


.SignOutButton:hover {
    background-color: #0d1821;
}

[data-theme='dark'] .submitButton, .submitButtonUpload, .SignOutButton {
    border: 2px solid #344966;
}

@media (max-width:  768px) {
    .button {
        align-items: center;
    }
    .load {
        font-size:  22px;
        width:  220px;
    }

    .container {
        padding:  0;
        margin-top:  3dvh;
        height:  95dvh;
    }

    .headerContainer {
        margin:  2.5rem;
        flex-direction: column-reverse;
    }

    .header {
        font-size:  1.7rem;
        margin-top:  45px;
        text-align: center;
    }

    .formPopup, .form {
        margin-right:  0 !important;
    }

    .formContainer {
        height:  80px;
        margin-right:  30px;
    }

    .propic {
        width:  170px;
        height:  170px;
        margin-left:  85px;
        margin-top:  30px;
    }

    .inputField {
        width:  270px;
        padding:  7px;
        margin-bottom:  20px;
        margin-top:  10px;
    }

    .submitButton, .submitButtonUpload, .SignOutButton {
        width:  170px;
        padding:  7px;
        margin-bottom:  7px;
    }

    .submitButtonContainer {
        margin-top:  15px;
    }
}