/* GENERAL STYLING */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.title {
    font-size: 4rem;
    color: var(--secondary-color);
    margin-bottom: 5rem;
    font-weight: bolder;
    letter-spacing: 0.2em;
}

.titleLink {
    text-decoration: none !important;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.inputField {
    width: 300px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--ternary-color);
    color: var(--secondary-color);
}

.submitButton {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--ternary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formComplete {
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.paragraph {
    text-align: center;
    width: 350px;
    line-height: 180%;
    color: var(--secondary-color);
    margin-top: 5rem;
}


/* MEDIA QUERIES */

@media (max-width: 480px) {
    .container {
        padding: 0.5rem;
        height: 90vh;
    }

    .label {
        font-size: 1.2rem;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .formContainer {
        width: 100%;
        max-width: 300px;
        padding: 10px;
    }

    .inputField {
        padding: 13px;
        margin-bottom: 15px;
        margin-top: 7.5px;
    }

    .submitButton {
        font-size: 0.9rem;
    }

    .errorMessage {
        font-size: 0.8rem;
    }

    .paragraph {
        width: 100%;
        margin-top: 2.5rem;
    }
}
