/* Styles for the container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
    align-items: center;
    height:  100vh; /* Full viewport height */
    text-align: center;
}

/* Styles for the title */
.title {
    font-size:  4rem;
    color: #344966;
    margin-bottom:  5rem;
    font-weight: bolder;
    letter-spacing:  0.2em;
}

.titleLink{
    text-decoration: none !important;
}

/* Styles for the form container */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  100%;
    width:  340px; /* Adjust as needed */
    margin:  0 auto;
    padding:  20px;
    border-radius:  10px; /* Add a border radius for a softer look */
}

/* Styles for the input fields */
.inputField {
    width:  300px;
    padding:  10px;
    margin-bottom:  25px;
    margin-top:15px;
    border:  1px solid #344966; /* Match the border color of page.module.css */
    border-radius:  4px;
    background-color: #eff8e2; /* Match the background color of page.module.css */
    color: #344966; /* Match the text color of page.module.css */
}

/* Styles for the submit button */
.submitButton {
    width:  200px;
    padding:  10px;
    background-color: #344966; /* Match the button color of page.module.css */
    color: #eff8e2; /* Match the button text color of page.module.css */
    border: none;
    border-radius:  10px;
    cursor: pointer;
    transition: background-color  0.3s ease; /* Add a transition for hover effect */
}

/* Styles for the submit button on hover */
.submitButton:hover {
    background-color: #0d1821; /* Darken the button color on hover */
}

[data-theme='dark'] .submitButton {
  border: 2px solid #344966;
}

/* Styles for the error message */
.errorMessage {
    color: red;
    margin-top:  10px;
    text-align: center; /* Center the error message */
}

/* Styles for the paragraph */
.paragraph {
    text-align: center;
    width:  350px;
    line-height:  180%;
    color: #344966;
    margin-top:  5rem;
}

@media (max-width:   480px) {
    .container {
      padding:   0.5rem;
      height:   90vh;
    }
  
    .label{
      font-size:1.2rem;
    }
  
    .title {
      font-size:   3rem;
      margin-bottom:   2rem;
    }
  
    .formContainer {
      width:   100%;
      max-width:   300px;
      padding:   10px;
    }
  
    .inputField {
      padding:   13px;
      margin-bottom:   15px;
      margin-top:   7.5px;
    }
  
    .submitButton {
      font-size:   0.9rem;
    }
  
    .errorMessage {
      font-size:   0.8rem;
    }
  
    .paragraph {
      width:   100%;
      margin-top:   2.5rem;
    }
  }

  [data-theme='dark'] .title {
    color:white;
  }

  [data-theme='dark'] .paragraph {
    color:white;
  }